body {
    font-family: monospace, Arial, Helvetica, sans-serif;
    background-image: url("https://t4.ftcdn.net/jpg/02/90/04/01/360_F_290040196_SNxztMV03pDmXS3vFQzoebXFUVNwfawx.jpg");
}

h1 {
    font-size: 45px;
    text-align: center;
    color: white;
}

h2 {
    font-size: 45px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
}

#calculator-background {
    width: 400px;
    margin: auto;
    background-color: #1a1b1d;
    padding: 50px;
    border-radius: 10%;
}

#textbox {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

#clear {
    height: 154px;
    position: absolute;
    left: 853px;
    top: 347px;
    background-color: #9cafbd;
    color:black;
}

#equals {
    height: 154px;
    position: absolute;
    left: 853px;
    top: 505px;
    background-color: #c2e8ff;
    color: black;
}

.number {
    width: 89px;
    height: 75px;
    margin: 2px;
    padding: 0px;
}

.operation {
    width: 89px;
    height: 75px;
    margin: 2px;
    padding: 0px;
    background-color: #464749;
}

button {
    background-color: #2f3032;
    color: white;
    border-radius: 10%;
    font-size: 30px;
}

button:hover {
    background-color: #afd1e6;
}

#equals:hover {
    background-color: lightcyan;
}

#clear:hover {
    background-color: lightcyan;
}

button:active {
    background-color: #c2e8ff;
}

#equals:active {
    background-color: #41a4d2;
}

#clear:active {
    background-color: #41a4d2;
}
